backend/vendor/cache
backend/.DS_Store
backend/.byebug_history
backend/.git
backend/log/*
backend/tmp/*
backend/public/assets
backend/public/packs
backend/node_modules
backend/yarn-error.log
backend/public/images/*


# Logs
react/logs
react/*.log
react/npm-debug.log*
react/yarn-debug.log*
react/yarn-error.log*
react/pnpm-debug.log*
react/lerna-debug.log*

react/node_modules
react/dist
react/dist-ssr
react/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

