.sign-in-button{
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.sign-in-button:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
